<html>
<head>
<center><h1>STUDENT ENROLLMENT SYSTEM</h1></center>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a href="">Home</a></li>
  <li><a href="/reg">Register</a></li>
  <li><a href="#update">Update</a></li>
  <li><a href="/del">Delete</a></li>
    <li><a href="/all">Students List</a></li>
    <li><a href="/find">Search</a></li>
  <li style="float:right"><a class="active" href="#about">About</a></li>
</ul>

</body>
</html>
